html {
    text-align: center;
    font-size: 22px;
    font-family: 'Josefin', sans-serif;
    box-sizing: border-box;
    background-color: black;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 100px;
    height: 1200px;
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.button {
    min-height: 200px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button, a {
    color: black;
    text-decoration-style: dotted;
}