body { 
    background-image: url(images/NatgeoBG.jpg);
    font-family: 'Nunito' sans-serif;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.links {
    padding: 100px;
    
}
.links h1 {
    font-size: 100px;
    display: block;
    padding: 20px;
    border-bottom: 3px dashed aliceblue;
    width: auto;
    margin: auto;
    
}

.links a {
    text-decoration: none;
    font-variant-caps: all-small-caps;
    color: azure;
    opacity: .9;
    text-shadow: -1px 1px 2px black
}

.links a:hover {
    color: darkturquoise;
    opacity: 1.5;
}
